.about {
  background-color: $blue;
}

.about__wrapper {
  @include container();
  padding-top: 35px;
  padding-bottom: 85px;
}

.about__title {
  @include text-style;
  color: $orange;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 25px;
  padding-left: 25px;
}

.about__text {
  color: $white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  font-weight: 300;
  padding-left: 25px;
}

.about__subtitle {
  color: $white;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  font-weight: 300;
  padding-left: 25px;
  font-weight: 800;
}

.about__button {
  display: none;
}
