.button {
  font-size: 17px;
  line-height: 30px;
  font-weight: 800;
  padding: 5px 40px;
  color: $blue;
  background-color: $yellow;
  border-radius: 40px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}
