.button {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: $blue;
  text-transform: none;
  background-color: $yellow;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding-top: 33px;
    padding-bottom: 31px;
    padding-left: 34px;
    font-size: 24px;
    text-align: left;
    border-radius: 20px;
  }


  &--border {
    border: 3px solid $blue;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-left: 21px;

    &::after {
      top: 22px;
      right: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 22px;
    width: 10px;
    height: 14px;
    background-image: url("../../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet) {
      top: 34px;
      right: 34px;
    }
  }

  &:hover,
  &:focus {
    background-color: $yellow-dark;
  }

  &:active {
    color: (29, 46, 91, 0.3);

    background-color: $yellow-dark;
  }

  &:active::after {
    opacity: 0.3;
    background-color: $orange;
  }

}
