.contacts-list {
  margin-left: 59px;
}

.contacts-list__contacts-item {
  &:first-child {
    margin-bottom: 23px;

    @media (min-width: $tablet) {
      margin-bottom: 35px;
    }
  }
  &:last-child {
    margin-bottom: 59px;

    @media (min-width: $tablet) {
      margin-bottom: 160px;
    }
  }
}

.contacts-list__contacts-link {
  position: relative;
}

.contacts-list__contacts-text {
  font-size: 16px;
  line-height: 22px;
  color: $blue;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 28px;
    padding-left: 30px;
  }
}

.contacts-list__icon-wrapper {
  fill: $yellow;
  background-color: $blue-light;

  position: absolute;
  left: -59px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @media (min-width: $tablet) {
    width: 65px;
    height: 65px;
    top: -30px;
  }
}
