.directions {
  background-color: $white-blue;
  position: relative;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
}

.directions__wrapper {
  @include container();

  padding-top: 71px;
  padding-bottom: 90px;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-bottom: 200px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 160px;
    padding-bottom: 140px;
  }
}

.directions__text-wrapper {
  @media (min-width: $tablet) {
    width: 50%;
  }
}

.directions__title {
  @include text-style;
  color: $orange;
  padding-left: 25px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.directions__text {
  @include text-style;
  color: $gray;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding-left: 25px;
  padding-right: 50px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.directions__button {
  position: absolute;
  bottom: 30px;
  left: 25px;
  right: 25px;

  @media (min-width: $tablet) {
    left: 35px;
    bottom: 80px;
    right: 35px;
  }

  @media (min-width: $desktop) {
    margin-top: 100px;
    left: auto;
    bottom: auto;
    right: auto;
  }
}

.directions__country-list {
  @include list-style;
  margin-top: 58px;
  width: 100%;

  @media (min-width: $tablet) {
    margin-top: 110px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 75px;
    margin-right: 175px;
  }
}

.directions__item {
  background-color: $white;
  width: 100%;

  &:not(:first-child) {
    margin-top: -20px;
  }
}
