.directions-list {
  @include list-style;
  margin: 0;
}

.directions-list__item {
  background-color: $white;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

.directions-list__title {
  margin-top: 29px;
  margin-bottom: 10px;
}
