.directions {
  background-color: $white-blue;
  position: relative;
}

.directions__wrapper {
  @include container();
  padding-top: 73px;
  padding-bottom: 117px;
}

.directions__title {
  @include text-style;
  color: $orange;
  padding-left: 25px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 25px;
}

.directions__text {
  @include text-style;
  color: $gray;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding-left: 25px;
}

.directions__button {
  position: absolute;
  bottom: 30px;
  left: 25px;
  right: 25px;
}

.directions__country-list {
  @include list-style;
  margin-top: 67px;
}

.directions__item {
  background-color: $white;
  margin-bottom: 10px;
}
