.directions {
  background-color: $white-blue;
}

.directions__wrapper {
  @include container();

  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-bottom: 200px;
  }
}

.directions__text-wrapper {
  @media (min-width: $tablet) {
    width: 50%;
  }
}

.directions__title {
  padding-left: 25px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: $orange;
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }
}

.directions__text {
  padding-left: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;
  }
}

.directions__country-list {
  margin-top: 65px;

  @media (min-width: $tablet) {
    margin-top: 110px;
  }
}

.directions__button {
  position: absolute;
  left: 25px;
  bottom: 30px;
  right: 30px;

  @media (min-width: $tablet) {
    left: 35px;
    bottom: 80px;
    right: 35px;
  }
}

.directions__country-list {
  width: 100%;
}
