.info-list {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  color: $blue;
}

.info-list__item {
  padding: 25px;
}

.info-list__item--bg_orange {
  background-color: $orange;
}

.info-list__item--bg_orange-dark {
  background-color: $orange-dark;
}

.info-list__item--bg_yellow-dark {
  background-color: $yellow-dark;
}

.info-list__item--bg_yellow {
  background-color: $yellow;
}
