.level__number {
  display: none;
}

.level {
  margin-left: 10px;
  display: flex;
  height: 18px;
  color: #828282;
  display: flex;
  margin-right: -18px;
  &:after {
    content: "";
    margin-left: 10px;
    width: 12px;
    height: 1px;
    background-color: #828282;
    align-self: center;
  }
}
