.level__number {
  display: none;
}

.level {
  margin-left: 25px;
  margin-right: -20px;
  display: flex;
  height: 18px;

  &::after {
    content: "";
    margin-left: 13px;
    width: 11px;
    height: 1px;
    background-color: #444;
    opacity: 0.2;
    align-self: center;
  }
}
