.like {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #edeff6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  @media (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }
}

.like__icon {
  opacity: 0.3;
  height: 11px;
  width: 13px;

  @media (min-width: $tablet) {
    width: 20px;
    height: 17px;
  }
}

.like__text {
  display: none;
}

.like--active {
  background-color: #f9eaea;
  .like__icon {
    fill: #f02323;
  }
}
