.mates {
  background-color: $blue-light;
  position: relative;
  z-index: 3;
  margin-top: -25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @media (min-width: $tablet) {
    margin-top: -48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
  }
}

.mates__break {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.mates__wrapper {
  @include container();
  padding-top: 95px;
  padding-bottom: 120px;

  @media (min-width: $tablet) {
    padding-top: 187px;
    padding-bottom: 250px;
    background-image: url("../../img/smolov-back-desktop@1x.png"), url("../../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top 475px left 40px, top 128px left 408px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    padding-top: 175px;
    padding-bottom: 140px;
    width: 100%;
    justify-content: space-between;
    background-position: top 180px left 545px, top 430px left 190px;
  }
}

.mates__text-wrapper {
  @media (min-width: $tablet) {
    width: 70%;
  }

  @media (min-width: $desktop) {
    width: 40%;
  }
}

.mates__title {
  @include text-style;
  color: $orange;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  padding-left: 25px;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;

    @media (min-width: $tablet) {
      &::before {
        content: "";
        width: 215px;
        height: 215px;
        top: -65px;
        left: 0px;
        background-color: $blue;
        position: absolute;
        border-radius: 20px;
        z-index: -1;
      }
    }
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.mates__text {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: $white;
  font-weight: 300;
  padding-right: 29px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 38px;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.mates__subtitle {
  @include text-style;
  color: $white;
  padding-left: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 21px;
    line-height: 25px;
    width: 300px;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
    margin-bottom: 82px;
    width: 100%;
  }
}

.mates__people-list {
  @include list-style;
  margin-top: 58px;

  @media (min-width: $tablet) {
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop) {
    margin-top: 5px;
    margin-right: -18px;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
  }
}

.mates__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-right: 60px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.mates__button {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 30px;

  @media (min-width: $tablet) {
    left: 70px;
    bottom: 85px;
    right: 70px;
  }

  @media (min-width: $desktop) {
    left: auto;
    bottom: auto;
    right: auto;
    margin-left: 70px;
    width: 19.8%;
  }
}
