.mates {
  background-color: $blue;
  position: relative;
  z-index: 3;
  margin-top: -25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  @media (min-width: $tablet) {
    margin-top: -48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
  }
}

.mates__wrapper {
  @include container();
  padding-top: 95px;
  padding-bottom: 110px;

  @media (min-width: $tablet) {
    padding-top: 145px;
    padding-bottom: 250px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    padding-top: 135px;
    padding-bottom: 135px;
    width: 100%;
    justify-content: space-between;
  }
}

.mates__text-wrapper {
  @media (min-width: $tablet) {
    width: 50%;
  }

  @media (min-width: $desktop) {
    width: 40%;
  }
}

.mates__title {
  @include text-style;
  color: $orange;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  padding-left: 25px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding-left: 75px;
  }
}

.mates__text {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  padding-left: 25px;
  color: $white;
  font-weight: 300;
  padding-right: 29px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    padding-left: 75px;
  }
}

.mates__subtitle {
  @include text-style;
  color: $white;
  padding-left: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;

  @media (min-width: $tablet) {
    padding-left: 35px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    padding-left: 75px;
    margin-bottom: 90px;
  }
}

.mates__people-list {
  @include list-style;
  margin-top: 58px;

  @media (min-width: $tablet) {
    margin-top: 60px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.mates__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.mates__button {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 30px;

  @media (min-width: $tablet) {
    left: 35px;
    bottom: 80px;
    right: 35px;
  }

  @media (min-width: $desktop) {
    left: auto;
    bottom: auto;
    right: auto;
    margin-left: 75px;
  }
}
