.navigation__menu-list {
  @include list-style;
  display: none;
  margin-bottom: 59px;
}

.navigation__menu-link {
  font-size: 30px;
  line-height: 36px;
  color: $blue-light;
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop) {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-right: 34px;
  }
}

.navigation__button-clear {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.navigation__address-info {
  display: none;
}

.navigation__contacts-list {
  @include list-style;
  display: none;
}

.navigation__socials-list {
  @include list-style;
  display: none;
}


.navigation--opened {
  .navigation__wrapper {
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    @media (min-width: $tablet) {
      align-items: flex-start;
    }
  }

  .navigation__logo {
    z-index: 2;

    .logo__image--white {
      display: none;
    }

    .logo__image--blue {
      display: block;

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  .navigation__button-toogle {
    z-index: 2;

    &::after {
      background-color: #000000;
      box-shadow: 0 8px 0 black;
    }
  }

  .navigation__address-info {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media (min-width: $tablet) {
      order: 2;
    }
  }


  .navigation__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 59px;

    @media (min-width: $tablet) {
      order: 2;
      align-items: flex-start;
      margin-top: 50px;
      margin-bottom: 145px;
    }
  }

  .navigation__button-clear {
    display: block;
    margin-bottom: 51px;

    @media (min-width: $tablet) {
      margin-left: auto;
    }
  }

  .navigation__contacts-list {
    display: flex;
    flex-direction: column;
  }

  .navigation__socials-list {
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
      justify-content: flex-start;
    }
  }

  .navigation__top-wrapper {
    padding: 19px 0 30px 0;
    margin-bottom: 49px;
    width: 100%;

    @media (min-width: $tablet) {
      z-index: 2;
      position: absolute;
      top: 40px;
      left: 40px;
      padding: 0;
      width: 50%;
      margin-bottom: 0;
    }
  }

  .navigation__bottom-wrapper {
    flex-direction: column;
    width: 100%;

    @media (min-width: $tablet) {
      padding-left: 60px;
    }
  }
}

.navigation__wrapper {
  @include container;

  @media(min-width: $tablet) {
    display: flex;
    padding-top: 40px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding-top: 50px;
  }
}

.navigation__top-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 73px;
  padding: 25px 0 0 0;

  @media(min-width: $tablet) {
    width: 51.8%;
    min-height: auto;
    padding: 0;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.navigation__bottom-wrapper {
  @media(min-width: $tablet) {
    width: 48.2%;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.navigation__button-toogle {
  @include text-style;

  @media (min-width: $desktop) {
    display: none;
  }
}

.navigation__menu-list {
  @media (min-width: $desktop) {
    display: flex;
    margin-bottom: 0;
    position: relative;
    padding-left: 145px;

    &::before {
      content: "";
      width: 60px;
      height: 2px;
      margin-right: 60px;
      position: absolute;
      top: 13px;
      left: 41px;
      background-color: #fff;
    }
  }
}

// .navigation__site-menu-item {
//   margin-right: 33px;
// }


.page-inner {
  .navigation__top-wrapper {
    padding-top: 20px;
    min-height: 34px;

    @media (min-width: $tablet) {
      padding-top: 5px;
    }
  }
}
