.page-header {
  background-color: $blue;
  color: $white;
}

.page-header__wrapper {
  @include container();
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -160px;

  @media (min-width: $tablet) {
    padding-top: 72px;
    padding-bottom: 350px;
    background-image: url("../../img/globe-back-tablet@1x.jpg");
    background-position: bottom center;
  }

  @media (min-width: $desktop) {
    padding-bottom: 123px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.page-header__title {
  @include text-style;
  align-self: center;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 244px;
  padding-left: 7px;
  min-height: 120px;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 70px;
    width: 60%;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 30%;
    text-align: left;
    margin-top: 113px;
    padding-left: 65px;
  }
}

.page-header__blockquote {
  @include text-style;
  padding: 25px 0 110px 0;
  width: 160px;
  margin-left: 25px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    margin-left: 35px;
    padding: 0;
    font-size: 21px;
    line-height: 25px;
    width: 260px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: auto;
    align-self: flex-end;
    margin-right: 30px;
  }
}

.page-header__review {
  @include text-style;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 43px;
    width: 260px;
  }
}

.page-header__review-author {
  @include text-style;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  width: 180px;
  display: block;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 25px;
    width: 250px;
  }
}

.page-header__road-map {

  @media (min-width: $tablet) {
    margin-top: 215px;
  }

  @media (min-width: $desktop) {
    margin-top: 108px;
  }
}

.page-header__navigation-misc {
  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    position: absolute;
    top: 50px;
    right: 42px;
  }
}
