.page-catalog {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.page-catalog__traveler {
  @include container;
  background-color: #edeff6;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
}

.page-catalog__traveler-list {
  @include list-style;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.page-catalog__traveler-item {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 15px 18px 25px 18px;
}

.page-catalog__more {
  font-size: 17px;
  line-height: 30px;
  color: $blue-light;
  font-weight: 800;
  padding-left: 32px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    background-image: url("../../img/show-more-plus.svg");
    background-size: cover;
    background-position: center;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 3px;
  }
}

