.page-header {
  background-color: $blue;
  color: $white;
}

.page-header__wrapper {
  @include container();
  padding-top: 27px;
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
}

.page-header__title {
  @include text-style;
  align-self: center;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  margin-top: 55px;
  margin-bottom: 258px;
}

.page-header__blockquote {
  margin-top: 30px;
  margin-left: 25px;
  font-size: 16px;
  line-height: 22px;
}

.page-header__review {
  font-weight: 300;
  margin-bottom: 30px;
}

.page-header__review-author {
  font-weight: 800;
  font-style: normal;
}

.page-header__road-map {
  margin-top: 35px;
}
