.page-footer {
  background-color: $white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  margin-top: -50px;
}

.page-footer__logo {
  display: block;
  line-height: 0;
  margin-bottom: 40px;
}

.page-footer__wrapper {
  @include container();
  padding-bottom: 14px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}


.page-footer__socials-list {
  @include list-style;
  margin-bottom: 38px;
  display: flex;
}

.page-footer__creator {
  display: flex;
  width: 100%;
  flex-direction: column;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  @media (min-width: $tablet) {
    width: auto;
    justify-content: unset;
  }
}

.page-footer__creator-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.page-footer__text {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  color: $gray;
  font-weight: 300;
}
