.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
