.people-card {
  position: relative;
}

.people-card__level {
  position: absolute;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet) {
    top: 20px;
    left: 20px;
  }
}

.people-card__photo {
  width: 270px;
  height: 270px;
  background-color: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet) {
    width: 285px;
    height: 285px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

.people-card__text-wrapper {
  background-color: #fff;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet) {
    padding-bottom: 23px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}

.people-card__title {
  @include text-style;
  font-size: 21px;
  line-height: 21px;
  color: $blue-text;
  font-weight: 800;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 19px;
    position: relative;

    &::before {
      content: "";
      background-color: #81e31e;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      position: absolute;
      left: -21px;
      top: 7px;
    }

    &--offline {
      &::before {
        background-color: #f97676;
      }
    }
  }
}

.people-card__countries {
  order: -1;
  margin-top: -12px;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    margin-top: -12px;
    margin-bottom: 20px;
  }
}

.people-card__tags {
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

