.profile {
  background-color: $white-blue;
  position: relative;
  z-index: 2;
  margin-top: -25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  @media (min-width: $tablet) {
    margin-top: -38px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

.profile__wrapper {
  @include container();

  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 111px;
  }

  @media (min-width: $desktop) {
    padding-top: 148px;
  }
}

.profile__title {
  margin: 0;
  color: $orange;
  font-size: 24px;
  line-height: 24px;
  padding-left: 25px;
  font-weight: 800;
  padding: 36px 100px 20px 25px;
  background-image: url("../../img/rates@1x.png");
  background-size: 99px 99px;
  background-repeat: no-repeat;
  background-position: right 0 top 20px;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    font-size: 45px;
    line-height: 45px;
    width: 100%;
    text-align: center;
    background-image: none;
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding-left: 20px;
  }
}

.profile__more {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: $blue;
  font-weight: 800;
  margin-left: 25px;
  position: relative;
  padding-left: 67px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    fill: $blue;
    margin-bottom: 45px;

    &::before {
      content: "";
      position: absolute;
      width: 67px;
      height: 67px;
      background-color: #e2e5f2;
      border-radius: 50%;
      top: -28px;
      left: -25px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      width: 17px;
      height: 21px;
      background-image: url("../../img/business.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px 21px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 94px;
  }
}

.profile__services {
  margin-bottom: 32px;
  position: relative;

  @media (min-width: $tablet) {
    margin-top: 75px;
    margin-bottom: 55px;
    &::after {
      content: "";
      width: 198px;
      height: 285px;
      background-color: #e2e5f2;
      position: absolute;
      top: -40px;
      right: 0;
      z-index: 1;
      border-radius: 20px;
    }
    &::before {
      content : "";
      width: 100px;
      height: 100px;
      background-image: url("../../img/rates@1x.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      position: absolute;
      top: 215px;
      right: 45px;
      z-index: 2;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      width: 445px;
      height: 300px;
      top: -50px;
      right: 170px;
    }

    &::before {
      width: 200px;
      height: 200px;
      top: 0px;
      right: 55px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: 133px;
  }
}
