.profile {
  background-color: $white-blue;
}

.profile__wrapper {
  @include container();
  padding-top: 50px;
  padding-bottom: 40px;
}

.profile__title {
  width: 40%;
  color: $orange;
  font-size: 24px;
  line-height: 24px;
  padding-left: 25px;
}

.profile__services {
  margin-top: 45px;
  background-color: $white;
}
