.promo {
  background-color: $blue;
  &__wrapper {
    @include container();
  }
}

.promo__review {
  margin-top: 30px;
}

.promo .promo__info-list {
  margin-top: 35px;
  padding-bottom: 39px;
}

.promo__header {
  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-color: $blue;

  // временно
  min-height: 440px;
}

.promo__title {
  padding-top: 55px;
  text-align: center;
}

.promo__autorization {
  @include container();
}

.promo__review {
  @include container();
}

.promo__info-list {
  @include container();
}
