.review {
  background-color: $blue;
  padding-left: 50px;
}

.review__quote {
  margin: 0;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin-bottom: 30px;
}

.review__author {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}
