.review {
  @include text-style;
}

.review__text {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 50px;
  }
}

.review__author {
  @include text-style;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  font-style: normal;

  @media (min-width: $tablet) {
    font-size: 21px;
    line-height: 25px;
  }
}
