.service-list__item {
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.service-list__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $gray;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 33px;
  }
}
