.site-list {
  @include list-style;
}

.site-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: $blue-darker;
  text-transform: uppercase;
}

.site-list__item {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
