.social-list {
  min-width: 135px;
}

.social-list__socials-item {
  width: 45px;
  height: 45px;
}

.social-list__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #cccccc;
}
