.tags__tags-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
}

.tags__tags-item {
  margin-left: 5px;
  &:first-child {
    margin-left: 0;
  }
}

.tags__tags-link {
  display: flex;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.tags__title {
  display: none;
}
