.text {
  margin: 0;
  font-style: normal;
  line-height: 400;
  line-height: 22px;
}

.text--weight_light {
  font-weight: 200;
}

.text--weight_medium {
  font-weight: 500;
}

.text--weight_bold {
  font-weight: 800;
}

.text--c_gray {
  color: $gray;
}

.text--c_gray-transparent {
  color: $gray;
  opacity: 0.6;
}

.text--c_white {
  color: $white;
}

.text--s_16 {
  font-size: 16px;
}

.text--s_14 {
  font-size: 14px;
}

.text--s_15 {
  font-size: 15px;
}

.text--lh_18 {
  line-height: 18px;
}

.text--lh_21 {
  line-height: 21px;
}

.text--lh_30 {
  line-height: 30px;
}
