.title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: $orange;
  margin: 0;
}

.title_size_large {
  color: $white;
  font-size: 36px;
  line-height: 40px;
}

.title_color_blue {
  color: $blue;
  font-size: 21px;
  line-height: 21px;
}
