.title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  color: $orange;
  margin: 0;
}

.title_size_large {
  color: $white;
  font-size: 36px;
  line-height: 40px;
}

.title_color_blue {
  color: $blue;
  font-size: 21px;
  line-height: 21px;
}

.title_size_medium {
  font-size: 20px;
  line-height: 20px;
}

.title_size_small {
  font-size: 15px;
  line-height: 18px;
  color: $gray;
  font-weight: 400;
}

.title_size_medium_uppercase {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $blue;
  text-transform: uppercase;
}
