.transports__transports-list {
  @include list-style;
  display: flex;
}

.transports__title {
  display: none;
}

.transports__item {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 12px;
  }
}

.page-inner {
  .transports__picture {
    width: 14px;
    height: 16px;
  }

  .transports__item {
    margin-right: 0;
  }

  .transports__title {
    @include text-style;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    display: flex;
    align-items: center;
    margin-right: -18px;
    margin-left: -18px;
    margin-bottom: 20px;
    &::before {
      content: "";
      height: 1px;
      width: 14px;
      margin-right: 14px;
      background-color: #444;
      opacity: 0.2;
    }
    &::after {
      content: "";
      height: 1px;
      width: 105px;
      margin-left: 7px;
      background-color: #444444;
      opacity: 0.2;
    }

  }
}
