.traveler-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.traveler-card__photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #ccc;
  border: 1px solid red;
}

.traveler-card__title {
  @include text-style;
  color: #1d2e5b;
  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  flex-basis: 20%;
  padding-left: 15px;
  &::before {
    content: "";
    background-color: #f97676;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 9px;
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.traveler-card__tags {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
}

.traveler-card__countries {
  width: 100%;
}

.traveler-card__button-clear {
  margin-top: 20px;
}
