@mixin container() {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@mixin text-style {
  margin: 0;
  padding: 0;
}

@mixin list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}
